body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f2;
  }
  
  .document-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
    color: #333;
    border-bottom: 2px solid #007bff;
  }
  
  .order-number,
  .protocol-info {
    font-size: 1rem;
  }
  
  h1 {
    color: #007bff;
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #e9ecef;
    border-bottom: 1px solid #ccc;
  }
  
  .section {
    background-color: white;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .section label {
    display: block;
    color: #495057;
    margin-bottom: .5rem;
  }
  
  .info {
    padding: .375rem .75rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    min-height: 38px; /* Equal to input height for alignment */
  }

  .owner-name {
    font-weight: bold;
    font-size: 1.25rem; /* You can adjust the size as needed */
  }
  
  .fraction {
    display: inline-block;
    text-align: center;
    margin-right: 5px; /* Adjust spacing between fractions as needed */
  }
  
  .fraction .numerator {
    display: block;
    border-bottom: 1px solid black;
  }
  
  .fraction .denominator {
    display: block;
  }

  .whole-number {
     font-size: 20px;
    line-height: 2em; /* Set the line height to the fixed height */
    text-align: center;
  }

  .fraction, .whole-number {
    display: inline-block;
    vertical-align: bottom; /* Align the baseline of fractions and whole numbers */
    margin-right: 5px; /* Adjust the spacing if needed */
    height: 2.em; /* Set a fixed height for both fractions and whole numbers */
  }